.App {
  width: 750px;
  margin: auto;
  height: 100vh;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  padding-bottom: 25px;
}

a {
  text-decoration: none;
  color: rgb(41, 41, 41);
}

.footer-content-social {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.footer-content-social a {
  color: rgb(141, 141, 141);
}
