body {
  background-image: url("C:\Users\zachj\OneDrive\Documents\GitHub\jordan_zachery_coding_assignment14\client\src\assets\img\low-poly-grid-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  width: 750px;
  margin: auto;
  height: 100vh;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.fade-in {
  opacity: 0;
  animation: fadeInAnimation 2s forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  padding-bottom: 25px;
}

a {
  color: black;
  text-decoration: none;
  color: rgb(41, 41, 41);
}
